@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset adicional opcional */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.min-h-screen-custom {
  min-height: calc(100vh + 500px);
}
